[viewBag]

[staticMenu]
code = "main"
==
<div class="main-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="contact-detail">
                    <a href="javascript:;"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;<span>{{ configs.email }}</span> &nbsp;&nbsp;</a>
                    <a href="javascript:;"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;<span>{{ configs.phone_number }}</span></a> 
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="signin">
                    <a href="{{ configs.facebook_url }}"><i class="fa fa-user" aria-hidden="true"></i>	&nbsp;<span>Login/Register</span> | &nbsp;&nbsp; <a></a> <i class="fa fa-facebook" aria-hidden="true"></i> &nbsp;&nbsp;<i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="menu-header">
    {% if staticMenu.menuItems %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="{{ configs.site_logo.path }}" class="hp-scert-logo" alt="HPSCERT Logo"/><h2 class="head-text">{{ configs.site_name }}</h2></a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mx-auto"> <!-- mt-2 mt-lg-0 -->
                {% for item in staticMenu.menuItems %}
                    <li class="nav-item"><a class="nav-link" {% if item.viewBag.isExternal %} target="_blank" {% endif %} href="{{ item.url }}">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <img src="{{ configs.hp_logo.path }}" width="5%" alt="HPSCERT" class="hp-logo" />
    </nav>
    {% endif %}
</div>