<div class="scholarship">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 my-3">
				<h2 class="scholarship-text">Scholarship  Program</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="text-one">
					<div class="header-1">
						<figure class="image-figure">
							<img src="{{ 'assets/images/schems-1-GPS-Barram-40845768.jpg'|theme }}" alt="HPSCERT himachal pradesh"/>
						</figure>
					</div>
					<div class="body1">
						<h5>Program  One</h5>
						<p>Excepteur sint occaecat cupidatat non proident,veniam, quis nostrud exercitation ullamco laboris nisi 
						</p>
					</div>
					<a class="header-buttons" href="#">Read More</a>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="text-one">
					<div class="header-1">
						<figure class="image-figure">
							<img src="{{ 'assets/images/hcert-himachal.png'|theme }}" alt="HPSCERT himachal pradesh"/>
						</figure>
					</div>
					<div class="body1">
						<h5>Program  Two</h5>
						<p>Excepteur sint occaecat cupidatat non proident,veniam, quis nostrud exercitation ullamco laboris nisi 
						</p>
					</div>
					<a class="header-buttons" href="#">Read More</a>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="text-one">
					<div class="header-1">
						<figure class="image-figure">
							<img src="{{ 'assets/images/scheme-3.jpg'|theme }}" alt="HPSCERT himachal pradesh"/>
						</figure>
					</div>
					<div class="body1">
						<h5>Program  Three</h5>
						<p>Excepteur sint occaecat cupidatat non proident,veniam, quis nostrud exercitation ullamco laboris nisi 
						</p>
					</div>
					<a class="header-buttons" href="#">Read More</a>
				</div>
			</div>
		</div>
	</div>
</div>