title = "Register"
url = "/register"
layout = "right-sidebar"
is_hidden = 0

[account]
paramCode = "code"
forceSecure = 0
requirePassword = 0

[session]
security = "guest"
redirect = "scholarship-form"
==
{% if not user %}

    <div class="row">


        <div class="col-md-6">
            {# {% partial account ~ '::register' %} #}
            {% if canRegister %}
                <h3>Register</h3>

                {{ form_ajax('onRegister') }}

                    <div class="form-group">
                        <label for="registerName">Full Name</label>
                        <input
                            name="name"
                            type="text"
                            class="form-control"
                            id="registerName"
                            placeholder="Enter your full name" />
                    </div>

                    <div class="form-group">
                        <label for="registerEmail">Email</label>
                        <input
                            name="email"
                            type="email"
                            class="form-control"
                            id="registerEmail"
                            placeholder="Enter your email" />
                    </div>

                    {% if loginAttribute == "username" %}
                        <div class="form-group">
                            <label for="registerUsername">Username</label>
                            <input
                                name="username"
                                type="text"
                                class="form-control"
                                id="registerUsername"
                                placeholder="Enter your username" />
                        </div>
                    {% endif %}

                    <div class="form-group">
                        <label for="registerPassword">Password</label>
                        <input
                            name="password"
                            type="password"
                            class="form-control"
                            id="registerPassword"
                            placeholder="Choose a password" />
                    </div>
                    


                <button class="header-buttons" id="form-submit" type="submit"><span><i class="material-icons mdi mdi-message-outline"></i> Register</span></button>

                {{ form_close() }}
            {% else %}
                <!-- Registration is disabled. -->
            {% endif %}

            <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account? <a href="/login"  
                class="link-danger">Login</a></p>
        </div>
        
    </div>

{% else %}
    
{% endif %}