title = "User Register"
url = "/user-register"
layout = "default"
is_hidden = 0

[Registration]

[account]
redirect = "user-dashboard"
paramCode = "code"
forceSecure = 0
requirePassword = 0
==
<?php
use Netgen\Examinations\Models\ExaminationType;
    
    function onStart(){
        $this['userCanRegister']= ExaminationType::where('is_examination',1)->first();
    }
?>
==
{% if userCanRegister %}
{% component 'Registration' %}
{% else %}
    Registration is Disabled.....
{% endif %}{% if not user %}


{% else %}

    {% partial account ~ '::activation_check' %}

    {% partial account ~ '::update' %}

    {% partial account ~ '::deactivate_link' %}

{% endif %}